{% extends '_base.twig' %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <img class="img-fluid" src="/img/dummy.png" alt="dummy image">
            </div>
            <div class="col p-4">
                <h1>Another page</h1>
                <p>Back to <a href="/">homepage</a></p>
            </div>

        </div>
    </div>
{% endblock %}