{% extends '_base.twig' %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col p-4">
                <h1>This a basic template to start a website based on Bootstrap&nbsp;{{ bootstrapVersion }}</h1>
                <p>We also have <a href="another-page">another page</a></p>
            </div>
            <div class="col">
                <img class="img-fluid" src="/img/dummy.jpg" alt="dummy image">
            </div>
        </div>
    </div>
{% endblock %}