{% extends '_base.njk' %}


{% block title %}Index page{% endblock %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col p-4">
                <p class="display-1">It works!</p>
                <h1>This a basic template to start a website based on Bootstrap&nbsp;{{ bootstrapVersion }}</h1>
                <p>Also check out <a href="example-page-1" class="btn btn-success btn-lg">Example page 1</a> and <a href="example-page-2" class="btn btn-danger btn-lg">Example page 2</a>.</p>
            </div>
        </div>
    </div>
{% endblock %}
