{% extends '_base.twig' %}


{% block title %}Index page{% endblock %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col p-4">
                <h1>This a basic template to start a website based on Bootstrap&nbsp;{{ bootstrapVersion }}</h1>
                <p>Also check our <a href="different-page">a different page</a>.</p>
            </div>
            <div class="col">
                <img class="img-fluid" src="/img/dummy.jpg" alt="dummy image">
            </div>
        </div>
    </div>
{% endblock %}
